table{
    width: 100%;
}
.input{
    width: 100%;
    margin: auto;
}
.thHeader{
    text-align: center;
}
example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }